@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap'); /* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Light-grayish-cyan-1: hsl(185, 41%, 84%);
    --Light-grayish-cyan-2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Dark-grayish-cyan-1: hsl(184, 14%, 56%);
    --Dark-grayish-cyan-2: hsl(186, 14%, 43%);
    --Very-dark-cyan: hsl(183, 100%, 15%);

}

.Title {
    color: var(--Very-dark-cyan);
}

.App {
    background-color: var(--Light-grayish-cyan-1);
    font-family: 'Space Mono', monospace;
}

.Card {
    width: 62.5rem;
    height: 31.25rem;
    border-radius: 40px;
    background-color: var(--White);
    margin-left: auto;
    margin-right: auto;
}

.Bill-Input {
    background-color: var(--Light-grayish-cyan-2);
    text-align: right;
    border-radius: 10px;
}

.Bill-Input-Field {
    display: flex;
    width: 311px;
    height: 48px;
    border: solid var(--Dark-grayish-cyan-2);
    border-radius: 10px;
    background-color: var(--Light-grayish-cyan-2);
}

.Dollar-Icon {
    width: 18px;
    height: 20px;
    margin: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}