@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap'); /* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Light-grayish-cyan-1: hsl(185, 41%, 84%);
    --Light-grayish-cyan-2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Dark-grayish-cyan-1: hsl(184, 14%, 56%);
    --Dark-grayish-cyan-2: hsl(186, 14%, 43%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Strong-cyan: hsl(172, 67%, 45%);

}

input:focus::placeholder {
    color: transparent;
}

.Title {
    color: var(--Very-dark-cyan);
    padding-bottom: 10px;
}

.App {
    background-color: var(--Light-grayish-cyan-1);
    font-family: 'Space Mono', monospace;
}

.Card {
    width: 62.5rem;
    height: 31.25rem;
    border-radius: 40px;
    background-color: var(--White);
    margin-left: auto;
    margin-right: auto;
}

.Bill {
    padding: 51px 50px 20px;
}

.Bill-Text {
    padding-bottom: 11px;
    color: var(--Very-dark-cyan);

}

.Bill-Input {
    background-color: var(--Light-grayish-cyan-2);
    text-align: right;
    border-radius: 10px;
    /* padding-right: 10px; */
}

.Bill-Input-Field {
    display: flex;
    width: 379px;
    height: 48px;
    background-color: var(--Light-grayish-cyan-2);
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}


.Bill-Input-Field:hover {
    border: solid var(--Strong-cyan);
    border-width: 0.15em;
}

.Dollar-Icon {
    width: 8px;
    height: 16px;
    vertical-align: middle;

}

.Person-Icon {
    width: 14px;
    height: 16px;
    vertical-align: middle;
}

.Tip {
    padding: 0px 50px 20px;
}

.Tip-Grid {
    display: flex;
    width: 379px;
    height: 111px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

button {
    height: 48px;
    width: 117px;
    border-radius: 5px;
    background-color: var(--Very-dark-cyan);
    color: var(--White);
}

.Custom-Tip {
    height: 48px;
    width: 117px;
    border-radius: 5px;
    background-color: var(--Light-grayish-cyan-2);
    text-align: center;

}

.Custom-Tip:focus {
    text-align: right;
    padding-right: 10px;
    border: solid var(--Strong-cyan);
    border-width: 0.15em;
}


button:focus {
    background-color: var(--Strong-cyan);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
